@model panaderia.Models.usuario

@{
    ViewBag.Title = "Eliminar Uuario";
}

<h2>Gestión Eliminar Usuario</h2>

<div>
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <!--  Tablas   -->
    <div class="form-group">
        <label class="col-md-3">Nombre Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.nombre)
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3">Clave Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.clave)
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3">Rol Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.rolusuario.rol)
        </div>
    </div>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-3">
                <input type="submit" value="Eliminar" class="btn btn-default" />
                <button type="button" class="btn btn-default">@Html.ActionLink("Volver", "Index")</button>
            </div>
        </div>








    }
</div>
