@model panaderia.Models.usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Gestión Detalle de Usuarios</h2>

<div class="form-horizontal">
    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)



    <!--  Tablas   -->
    <div class="form-group">
        <label class="col-md-3">Nombre Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.nombre)
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3">Clave Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.clave)
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3">Rol Usuario</label>
        <div class="col-md-offset-2">
            @Html.DisplayFor(model => model.rolusuario.rol)
        </div>
    </div>

</div>

<!--  Botones  Editar / Volver -->
<p>
    <div class="form-group">
        <div>
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Volver", "Index")
        </div>
    </div>
</p>


