@model IEnumerable<panaderia.Models.usuario>

@{
    ViewBag.Title = "Usuario";
}

<h2>Gestión Usuario</h2>

<p>
    <button type="button" class="btn">@Html.ActionLink("Crear", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            <label class="col-md-3">Código Usuario</label>
            <label class="col-md-3">Nombre Usuario</label>
            <label class="col-md-3">Clave Usuario</label>
            <label class="col-md-3">Rol Usuario</label>

        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <label class="col-md-3">@Html.DisplayFor(modelItem => item.Id)</label>
            <label class="col-md-3">@Html.DisplayFor(modelItem => item.nombre)</label>
            <label class="col-md-3">@Html.DisplayFor(modelItem => item.clave)</label>
            <label class="col-md-3">@Html.DisplayFor(modelItem => item.rolusuario.rol)</label>
</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
</td>
    </tr>
        }

    </table>
