
@model IEnumerable<panaderia.Models.receta>

@{
    ViewBag.Title = "Index";
}

<h2>Recetas</h2>
    <input type="hidden" value="si" id="valida" />
<p>
    <button type="button" id="crear" class="btn">@Html.ActionLink("Crear", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            Código Receta
        </th>
        <th>
            Nombre
        </th>
        <th>
            Costo Receta
        </th>
        <th>
            Valor de venta (Kl)
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <span id="nombreReceta" name="@item.nombre">@item.nombre</span>
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.costo_receta)
            </td>

            <td>
                $@Html.DisplayFor(modelItem => item.valor_venta)
            </td>
            <td>
                <input 
                       @{
                           string selecciona = "";
                           if (item.estado == true)
                           {

                               selecciona= "checked=\"checked\"";
                           }

                       }  @selecciona id="estado @item.Id" class="check-box" disabled="disabled" type="checkbox">
            </td>
            <td>
                <a href="/recetas/Edit/@item.Id" id="@item.Id">Editar</a>
                |
                <a href="/DetalleReceta/Index/@item.Id" id="insumo @item.Id">Insumos</a>

            </td>
        </tr>
    }

</table>
