@model IEnumerable<panaderia.Models.proveedor>

@{
    ViewBag.Title = "Proveedores";
}

<h2>Gestión de Proveedores</h2>

<p>
    <button type="button" class="btn">@Html.ActionLink("Crear", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            <label class="col-md-4">Código Proveedor</label>
            
        </th>
        <th>
            <label class="col-md-4">Nombre Proveedor</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>

       
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.rut }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.rut }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.rut })
        </td>
    </tr>
}

</table>
