@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    @using panaderia.Models
    @model AgregarRecetaData
    <div class="form-horizontal">
        <h4>receta</h4>
        <hr />
        @using (Html.BeginForm("AgregaReceta", "DetalleReceta", FormMethod.Post))
        {
            <div class="form-group">
                <label class="control-label col-md-2" >Receta</label>
                <input name="SeleccionaReceta" id="SeleccionaReceta" value="" />
            </div>
            <div class="form-group">
                <label>Medida</label>
                <select id="selectMedida" name="selectMedida">
                    @foreach (var r in Model.medida)
                {
                        <option value="@r.Id">@r.nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Producto</label>
                <select id="selectProducto" name="selectProducto">
                    @foreach (var r in Model.producto)
                {
                        <option value="@r.Id">@r.nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Cantidad</label>
                <input name="txtCantidad" id="txtCantidad" />
            </div>
            <div class="form-group">
                <button type="submit">Agregar</button>
            </div>
        }

        <br /><br />
        <table class="table">
            <tr>
                <td>medida</td>
                <td>receta</td>
                <td>producto</td>
                <td>cantidad</td>
                <td>medidaId</td>
                <td>productoId</td>
                <td>recetaId</td>
                <td></td>
                <td></td>
            </tr>

            @foreach (var r in Model.detalle_receta)
            {
                <tr>
                    <td>@r.medida.nombre</td>
                    <td>@r.receta.nombre</td>
                    <td>@r.producto.nombre</td>
                    <td>@r.cantidad</td>
                    <td>@r.medidaId</td>
                    <td>@r.productoId</td>
                    <td>@r.recetaId</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>