@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using panaderia.Models
@model CombosSelecciona
    <div class="form-horizontal">
        <h4>receta</h4>
        <hr />
@using (Html.BeginForm("AgregaReceta", "DetalleReceta", FormMethod.Post))

{
       <input value="@Model.idSeleccionado" name="txtReceta" id="txtReceta" type="hidden"  />
        <div class="form-group">
            <label>Producto</label>
            <select id="selectProducto" name="selectProducto">
                @foreach (var r in Model.producto)
                {
                    <option value="@r.Id">@r.nombre</option>
                }
            </select>
         </div>
        <div class="form-group">
            <label>Medida</label>
            <select id="selectMedida" name="selectMedida">
                @foreach (var r in Model.medida)
                {
                    <option value="@r.Id">@r.nombre</option>
                }
            </select>
        </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input name="txtCantidad" id="txtCantidad" />
            </div>
            <div class="form-group">
                <button type="submit">Agregar</button>
            </div>
            }

            <br /><br />
            <table class="table">
                <tr>
                    <td>receta</td>
                    <td>producto</td>
                    <td>medida</td>
                    <td>cantidad</td>
                    <td></td>
                </tr>
                @foreach (var r in Model.detalle_receta)
                {
                    <tr>
                        <td>@r.receta.nombre</td>
                        <td>@r.producto.nombre</td>
                        <td>@r.medida.nombre</td>
                        <td>@r.cantidad</td>
                        <td>
                            <a href="@Url.Action("Eliminar","DetalleReceta", new { productoId=r.productoId, recetaId= r.recetaId })">Eliminar</a>
                        </td>

                    </tr>
                }
            </table>
        </div>