<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Panaderia Ardilla</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Panaderia Ardilla", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Compras", "Index", "compras")</li>
                    <li>@Html.ActionLink("Receta", "Index", "Recetas")</li>
                    <li>@Html.ActionLink("Produccion", "Index", "produccions")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Reportes <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Reporte Costeo x Producto", "Index", "")</li>
                            <li>@Html.ActionLink("Reporte Costeo x Jornada", "Index", "")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                            Admin <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Medidas", "Index", "medida")</li>
                            <li>@Html.ActionLink("Linea", "Index", "lineas")</li>
                            <li>@Html.ActionLink("Familia", "Index", "familias")</li>
                            <li>@Html.ActionLink("Producto", "Index", "productoes")</li>
                            <li>@Html.ActionLink("Proveedores", "Index", "proveedors")</li>
                            <li>@Html.ActionLink("Usuarios", "Index", "usuarios")</li>
                            <li>@Html.ActionLink("Rol Usuarios", "Index", "rolusuarios")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
