@model panaderia.Models.familia

@{
    ViewBag.Title = "Eliminar Familia";
}

<h2>Eliminar</h2>

<h3></h3>
<div>
    <h4>Gestión de Familias de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Código Familia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            <label class="control-label">Nombre Familia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label class="control-label">Nombre Linea</label>        </dt>

        <dd>
            @Html.DisplayFor(model => model.linea.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
