@model panaderia.Models.familia

@{
    ViewBag.Title = "Detalle de Familias";
}

<h2>Detalles</h2>

<div>
    <h4>Gestión de Familias de Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Codigo Familia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            <label class="control-label">Nombre Familia</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label class="control-label">Nombre Linea</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linea.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
