@model IEnumerable<panaderia.Models.familia>

@{
    ViewBag.Title = "Familias";
}

<h2>Gestión de Familias de Productos</h2>

<p>
    <button type="button" class="btn">@Html.ActionLink("Crear", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            <label class="">Código Familia</label>
        </th>
        <th>
            <label class="">Nombre Familia</label>
        </th>
        <th>
            <label class="">Nombre Linea</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.linea.nombre)
        </td>
        <td>
            <a href="/familias/Edit/@item.Id" id="Editar @item.Id">Editar</a>
            <a href="/familias/Details/@item.Id" id="Detalles @item.Id">Detalles</a>
            <a href="/familias/Delete/@item.Id" id="Delete @item.Id">Delete</a>
    </tr>
}

</table>
