@model IEnumerable<panaderia.Models.medida>

@{
    ViewBag.Title = "Medida";
}

<h2>Gestión de Medidas de Productos</h2>

<p>
    <button type="button" id="crear" class="btn">@Html.ActionLink("Crear", "Create")</button>
</p>
<table class="table">
    <tr>
        <th>
            Código Medida
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <span id="nombreMedida" name="@item.nombre">@item.nombre</span>
            </td>
            <td>
                <a href="/medida/Edit/@item.Id" id="@item.nombre">Editar</a>|

                <a href="/medida/Delete/@item.Id" id="delete @item.nombre">Eliminar</a>|

                <a href="/medida/Details/@item.Id" id="@item.Id">Detalles</a>
            </td>
        </tr>
    }

</table>