@model panaderia.Models.produccion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Desea Eliminar la Produccion?</h3>
<div>
    <h4>produccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_produccion)
        </dd>
        <dt>
            @Html.DisplayName("Receta:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.receta.nombre)
        </dd>
        <dt>
            @Html.DisplayName("Cantidad:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayName("Costo Receta Kilo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_receta_kilo)
        </dd>
        <dt>
            @Html.DisplayName("Costo Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_produccion)
        </dd>
        <dt>
            @Html.DisplayName("Valor Kilo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_venta_kilo)
        </dd>
        <dt>
            @Html.DisplayName("Valor Total Venta:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total_venta)
        </dd>
        <dt>
            @Html.DisplayName("Rentabilidad Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentabilidad_produccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
