@model panaderia.Models.produccion

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Producccion</h2>

<div>
    <h4>produccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_produccion)
        </dd>
        <dt>
            @Html.DisplayName("Receta:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>


        <dt>
            @Html.DisplayName("Valor:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>
      </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
