@model panaderia.Models.produccion

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de Producccion</h2>

<div>
    <h4>produccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Fecha Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_produccion)
        </dd>
        <dt>
            @Html.DisplayName("Receta:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receta.nombre)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>


        <dt>
            @Html.DisplayName("Costo Receta Kilo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_receta_kilo)
        </dd>

        <dt>
            @Html.DisplayName("Costo Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costo_produccion)
        </dd>
        <dt>
            @Html.DisplayName("Valor Por Kilo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_venta_kilo)
        </dd>
        <dt>
            @Html.DisplayName("Valor Total Kilo:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total_venta)
        </dd>
        <dt>
            @Html.DisplayName("Rentabilidad Produccion:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rentabilidad_produccion)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default" id="btnEditar">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Volver", "Index")</button>
</p>
