@model IEnumerable<panaderia.Models.linea>

@{
    ViewBag.Title = "Linea de Productos";
}

<h2>Gestión de Lineas de Productos</h2>

<p>
    <button type="button" class="btn" id="crear">@Html.ActionLink("Crear Nuevo", "Create")</button>

</p>

@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("nombre")
        <input type="submit" value="Buscar" />
    </p>
}


<table class="table" , id="tablaLineas">
    <tr>
        <th>
            <label class="col-md-4">Codigo</label>
        </th>
        <th>
            <label class="col-md-4">Nombre Linea</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="colum1" id="cidlinea">
                @Html.DisplayFor(modelItem => item.Id, new { htmlAttributes = new { @id = "lineaId" } })
            </td>
            <td class="colum2" id="cnombrelinea">
                @Html.DisplayFor(modelItem => item.nombre, new { htmlAttributes = new { @id = "lineaNombre" } })
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
