@model panaderia.Models.compra

@{
    ViewBag.Title = "Eliminar Compra";
}
<div class="jumbotron">
    <h2>Eliminar</h2>

    <h3></h3>
    <div>
        <h4>Gestión Compras</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                <label class="control-label">Proveedor</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proveedor.nombre)
            </dd>

            <dt>
                <label class="control-label">Producto</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.producto.nombre)
            </dd>


            <dt>
                <label class="control-label">Cantidad</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>

            <dt>
                <label class="control-label">Precio</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precio_neto)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Index")
            </div>
        }
    </div>
</div>





