@model panaderia.Models.compra

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalle</h2>

<div>
    <h4>Gestión de Compra</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <label class="control-label">Codigo Compra</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            <label class="control-label">Producto</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

        <dt>
            <label class="control-label">Proveedor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>



        <dt>
            <label class="control-label">Cantidas</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            <label class="control-label">Precio</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_neto)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
